htm,body{
    margin: 0;
}
#imagemfundo{
    background: url("img/imagem\ fundo.jpg");
    height: 100%;
    text-align: center;
}
#título{
    color: white;
    text-align: center;
    padding-top: 25%;
    font-size: 40px;
}
#subtitulo{
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
#ação{
    color: white;
    border: 3px white solid;
    padding: 5px;
    border-radius: 5px;
}
#13{
    width: 30% ;
    border-radius: 30px;
    image-orientation: from-image;
    padding: 150px;
    margin: 20px;
}
.ODS{
    background-color: rgb(182, 178, 178);
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 10px;
}
ul{
    list-style-type: decimal
}
#video1{

}
.imgsalt{
width: ;
}
#combater{

}
#sobre{
    text-align: center;
}
#13{
    width: 150%;
    padding-right: 500px;
}